<% provide(:title, 'About Us') %>
 
<div class="row-fluid">
  <div class="span embos">
    <h1>About Us</h1><hr>
    <p>At Inoride we believe that a lack of personal transportation should not stop anyone
    from going to places or doing the things. </p>
  </div>

</div>