<% provide(:title, 'About Us') %>
 
<div class="row-fluid">
  <div class="span8 embos">
    <h1>About Us</h1><hr>
  </div>
  <article><p>At Inoride we believe that a lack of personal transportation should not stop anyone
    from going to places or doing the things. </p></article>
</div>