<% provide(:title, 'About Us') %>
<div class="container">
  <div class="page-header">
    <h1>About Us</h1>
  </div>
  <article><p>At Inoride we believe that a lack of personal transportation should not stop anyone
    from going to places or doing the things. </p></article>
</div>