<% provide(:title, 'Carpool and Rideshare - Join The Ride') %>

<div class="proped">
    <%= render 'layouts/search_form' %>  
  <section id="current-rides" class="embos">
    <%= render 'current_rides' %>
  </section>
</div>