<% provide(:title, 'Carpool and Rideshare - Join The Ride') %>

<section id="mast" class="">
  <div id="slide1" class="row-fluid active item">
    <div class="container">
      <div id="slide-contet" class="span7">
	<h1>Join a ride</h1>
	<p>Get picked up by someone going your way.</p>
      </div>
    </div>
  </div>
</section>
<div id="main" class="container">
  <div class="proped">
      <%= render 'layouts/search_form' %>  
    <section id="current-rides" class="embos">
      <%= render 'current_rides' %>
    </section>
  </div>
</div>