<% provide(:title, 'Carpool and Rideshare - Join The Ride') %>

<div class="proped">
  <div class="embos">
    <%= render 'layouts/search' %>
  </div>
</div>

<section id="current-rides" class="row">
    <%= render 'current_rides' %>
</section>
    
