<% provide(:title, 'Carpool and Rideshare - Join The Ride') %>


<div class="row-fluid">
  <div class="mast span6 embos">
    <h1>Join The Ride <%=image_tag('logo_bug.png')%></h1>
    <hr>
    <p> Share rides and connect with thousands of <span class="">Drivers</span> & <span class="">Passengers</span> in convenient carpools.</p>
      <%= link_to(new_ride_path, html_options = { class: "btn btn-large btn-success add-ride"}) do %>
	Add Your Ride
      <% end %>
  </div>
  <div class="span6 embos">
    <%= render '/layouts/main_search_form' %>
  </div>
</div>
  
<section id="highlight" class="">
    <div class="embos">
      <div id="current_rides">
	<table class="table table-bordered">
	<%= render 'current_rides' %>
	</table>
      </div>
    </div>
</section>


<div class="row-fluid">
    <%# render 'featured' %>
</div>
