<% provide(:title, 'Home') %>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit row">
  <div class="span6 well">
    <h1>Hi,</h1>
      <p>We are a group of people who are always driving somewhere. Chances are, Someone is looking for a ride in the same direction as you. Share your ride and see who comes along. </p>
      <hr>
      <p class="pull-right"><%= link_to 'Ad New Ride', new_ride_path, class: "btn btn-large btn-primary"%></p>
	<p class=""><%= link_to 'Show All Rides', rides_path, class: "" %></p>
      </p>
 
    </div>
    
  <div class="span3 well">
    <%= render 'layouts/search' %>
  </div>


</div>