<% provide(:title, 'Carpool and Rideshare - Join The Ride') %>

<div class="masthead-background"> 
  <div class="jumbotron masthead">
    <div class="container">
      <div class="row">
	<div class="span5">
	
	</div>
	<div class="span6">
	  <h1>Join The Ride</h1> a little change
	  <p> Ridesharing is back - connect with <span class="">Drivers</span> & <span class="">Passengers</span> in your community and share rides.</p>
            <%= link_to(new_ride_path, html_options = { class: "btn btn-large btn-success add-ride"}) do %>
	      Create A Ride<%=image_tag('logo_bug.png')%>
	    <% end %>
	</div>
      </div>
    </div>
  </div>
</div>


<section id="highlight" class="row-fluid well2">
  <div class="container">
    <div class="span5">
      <%= render '/layouts/main_search_form' %>
    </div>
    <div class="span7">
      <div id="current_rides">
	<table class="table table-bordered">
	<%= render 'current_rides' %>
	</table>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">

    <%# render 'featured' %>
  </div>
