<% provide(:title, 'Carpool and Rideshare - Join The Ride') %>

  <div class="embos">
    <%= render 'layouts/search_form' %>
  </div>

  <div id="results" class="embos">
  
  </div>
  
<section id="current-rides" class="">
  <%= render 'current_rides' %>
</section>
    
