<% provide(:title, 'Sign In') %>

<div class="page-header">
  <h1>Sign In</h1>
</div>
    <%= link_to image_tag('fb-signin.png'), "/auth/facebook",class:"signup" %></br></br>
    
    <script type="text/javascript">
      $(window).load(function() {
      $("#myModal").modal('show');
	});
    </script>

