<% provide(:title, 'Sign In') %>
<% notice %>
<div class="row-fluid">
  <div class="embos span6 offset3">
    <h1>Sign in</h1><hr>
    <div class="">
      <div class="span5 embos">
	<%= link_to image_tag('fb-logo.jpg'), "/auth/facebook", class: "sign_in" %>
	<%= link_to 'Sign in', "/auth/facebook", class: "btn" %>
      </div>
      <div class="span4">
	<%= render "form" %>
      </div>
    </div>
  </div>
</div>