<% provide(:title, 'Search Rides')%>
<%notice%>
<div id="main" class="container">
  <div class="row-fluid">
    <%= render 'layouts/search_form' %>
  <section id="current-rides" class="embos">
    
  </section>
  </div>
</div>

