<% provide(:title, 'Users')%>

<div class="container">
  <div class="page-header">
    <h1>Users</h1>
  </div>

  <%= will_paginate %>

  <table class="table table-bordered">
    <%= render @users %>
  </table>

  <%= will_paginate %>
  <br/>
  <%= link_to 'New User', new_user_path, class:"btn btn-large btn-primary" %>

</div>


