<% provide(:title, 'Users')%>
<div id="main" class="container">
  <div class="row-fluid">
    <div class="embos">
      <h1>All users</h1><hr>
      <%= will_paginate %>
	<table class="table table-bordered">
	  <%= render @users %>
	</table>
      <%= will_paginate %>
    </div>
  </div>
</div>

