<% provide(:title, 'Sign up') %>
<div class="row-fluid">
  <div class="embos span6 offset3">
      <h1>Sign up</h1><hr>
      <div class="row-fluid">
	<div class="span6 embos">
	  <%= link_to image_tag('fb-logo.jpg'), "/auth/facebook", class: "sign_in" %>
	</div>
	<div class="span6 embos">
	  <a href="#" data-toggle="collapse" data-target="#signup-form" class="tooltip-left" title="You're nuts">The hard way</a>
	</div>
      </div>
      
      <div id="signup-form" class="collapse in">
	<%= simple_form_for(@user,:html => {:class => 'form-horizontal' }) do |f| %>
	<%= render 'fields', f: f %>
	  <div class="controls">
	  <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
	  </div>
	<% end %>
      </div>
  </div>
</div>