@import "bootstrap";


#content{
    padding-top:70px;
}

/* Use Navigation */

.fbimg{
    width:32px;
    padding:0px;
}
#user-img{
    vertical-align:middle;
}
#logo{
    width:80%;
}
.usrimg a{
    margin:9% !important;
    padding:0px !important;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* input 

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: #0E85ED;
    display: inline-block;
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 9px;
    padding: 10px 10px 8px 15px;
    height: 39px;
}


*/

