#content{
    padding-top:100px;
}

.fbimg{
    width:32px;
    padding:0px;
}
#user-img{
    vertical-align:middle;
}
.logo{
    width:80%;
}
.usrimg a{
    border:1px solid;
    margin:19% !important;
    padding:0px !important;
}