<% provide(:title, 'Rides')%>
<%notice%>

<div class="row-fluid">
  <div class="span8 embos">
  <h1>All rides</h1>
  <%= will_paginate @rides %>
  
    <table class="table">
      <%= render @rides %>
    </table>
    
  <%= will_paginate @rides %>
  </div>
  <div class="span4 embos">
    <%= render '/layouts/main_search_form' %>
  </div>
</div>


