<% provide(:title, 'Rides')%>
<%notice%>

<%= render '/layouts/masthead_search' %>

<div class="container">
  <div class="page-header">
    <h1>Rides</h1>
  </div>
  <%= will_paginate @rides %>
  
    <table class="table table-bordered">
      <%= render @rides %>
    </table>
    
  <%= will_paginate @rides %>
</div>

