<% provide(:title, 'Rides')%>
<%notice%>
<div id="main" class="container"
  <div class="row-fluid">
    <div class="embos">
    <h1>All rides</h1>
    <%= will_paginate @rides %>
    
      <table class="table table-bordered table-condenced">
	<%= render @rides %>
      </table>
      
    <%= will_paginate @rides %>
    </div>
  </div>
</div>

