<% provide(:title, 'Create New Ride')%>

<section id="mast" class="">
  <div id="slide1" class="row-fluid active item">
    <div class="container">
      <div class="span7">
	<h1>Ride Together.</h1>
	<p>Split costs, make friends and enjoy a cleaner world.</p>
      </div>
    </div>
  </div>
</section>

<div id="main" class="container">
<div class="row-fluid">
  <div class="proped">
    <div class='embos'>
      <div class="span8">
      <%= simple_form_for(@ride,:html => {:class => 'form-horizontal' }) do |f| %>
	<%= render 'fields', f: f %>
      <% end %>
    </div>
    <div class="span4">
      <%= render 'map' %>
    </div>
    </div>  
  </div>  
</div>
</div>

