<% provide(:title, "Ride from #{@ride.origin} to #{@ride.destination}")%>
<% notice %>
<div id="main" class="container">
  <div class="row-fluid">
    <div class ="embos">
      <div class="span8">
      <%= render 'ride_info' %>
      </div>
      <aside id="driver" class="span4 embos">
      <div class="imagebox-large"><%= link_to image_tag(profile_image_for(@ride.user),options={:class =>"large"}),@ride.user %></div>
	<p class="muted">Driver</p>
	<p><%= @ride.user.name %></p>	
	<ul class="unstyled">
	  <li>Rides: <%= @user.rides.count %></li>
	  <li>Experience: Beginner</li>
	</ul>	

	<hr>
      </aside>
    </div>
  </div>
</div>



