<header>
  <div class="navbar navbar-fixed-top ">
    <div class="navbar-inner">
      <div class="container">
	  <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	 </a>
	<span id="brand"><%= link_to image_tag('logo_bug_white.png',class: "logo"), root_path %></span>
	<%= render 'layouts/usernav' %>
      </div>
    </div>
  </div>
</header>
