<section id="mast" class="">
  <div id="slide1" class="row-fluid active item">
    <div class="container">
      <div class="span6">
	<h1>Pick me up</h1>
	<p>Share a ride to wherever you need to go.</p>
      </div>
    </div>
  </div>
</section>