    <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
<section id="mast" class="active item">
  <div class="row-fluid">
    <div class="container">
      <div class="span6">
	<h1>Pick me up</h1>
	<p>Share a ride to wherever you need to go.</p>
	<%= link_to "Sign up", signup_url, class: "btn btn-success btn-large" %>
      </div>
    </div>
  </div>
</section>
<section id="mast" class="item">
  <div class="row-fluid">
    <div class="container">
      <div class="span6">
	<h1>Join the ride</h1>
	<p>Share a ride to wherever you need to go.</p>
	<%= link_to "Sign up", signup_url, class: "btn btn-success btn-large" %>
      </div>
    </div>
  </div>
</section>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>