<section id="mast">
  <div class="row-fluid">
    <div class="container">
      <div class="span6">
	<h1>Pick me up</h1>
	<p>Find and share rides with awesome people</p>
	<%= link_to "Sign up", signup_url, class: "btn btn-success btn-large" %>
      </div>
    </div>
  </div>
</section>