   <div class="modal hide fade" id="myModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><%= image_tag('/assets/close.png') %></button>
    <h3>Sign In</h3>
    </div>
    <div class="modal-body">
    <p>Yep, Facebook is the way to go</p>
    <%= link_to image_tag('fb-signin.png'), "/auth/facebook",class:"signup" %></br></br>
    </div>
    </div>