<div class="modal hide fade" id="signinModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><%= image_tag('/assets/close.png') %></button>
    <h3>Sign In</h3>
  </div>
  <div class="modal-body">
    <p>Sign in to Inoride with your facebook account.Sweet and simple!</p>
    <br>
    <div class="">
      <%= link_to image_tag('fb-signin.png'), "/auth/facebook", class: "sign_in" %>
    </div>
    <br>
    <p></p>
    </br>
  </div>
</div>