  <div class="span pull-right">
    <%# link_to "New Ride",new_ride_path, class: " btn btn-warning" %>
  </div>
    
  <nav id="controlls">
    <ul class="nav">
      <li><a href="/find">Find<small>Rides</small></a></li>
      <li><a href="/rides/new">Post<small>New Ride</small></a></li>
    </ul>
  </nav>
<nav id="usernav" class="pull-right nav">
  <% if user_signed_in? %>
    <li><%= render 'layouts/signedin_user_links' %></li>
  <% else %>
    <li><%= render 'layouts/user_links' %></li>
  <% end %>
</nav>
<div class="">
    <div id="messages" class="span nav">
    <% flash.each do |key, value| %>
      <div class="fade in alert alert-<%= key %>"><%= value %>
      <a class="close" data-dismiss="alert" href="#">&times;</a>    
  </div>
    <% end %>
  </div>
</div>


<nav id="admin-links" class="nav">
<% if user_signed_in? %>
  <ul class="nav">
    <li><%# link_to 'All Users', users_path %></li>
    <li><%# link_to 'All Rides', rides_path %></li>
  </ul>
<% end %>
</nav>

