<div class="row-fluid">
  
<div class="span">
  
  <table class="table table-bordered">
    
  <% if @rides.present? %>
    <%= render 'rides' %>
  <% else %>
    <div class="alert alert-info">
    <b><%= notice = "0 rides found."%></b>
    <%= search_status %>
    </div>
  <% end %>
  </table>
</div>

</div>